.section1{
    width: 100vw;
    height: 110vh;
    background-color: black;
}

.header{
    width: 100vw;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding-top: 30px;
    
}

.logo__container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-left: 70px;

}

.logo__container__image{
    margin-right: 5px;
}

.logo__container__text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu__container{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 30px;
    padding: 30px;
}

.menu{
    margin-right: 24px;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

.menu:hover{
    color: white;
}

.button__container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-right: 50px;

}
.button__container__signIn{
    border-radius: 12px;
    border: 1px solid #6DE754;
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    margin-right: 16px;
}

.button__container__getStarted{
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border-radius: 12px;
    background: #6DE754;
    cursor: pointer;
}

.button__container__getStarted:hover{
    color: white;
}
.button__container__signIn:hover{
    color: white;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
    margin-top: 80px;

}

.slogan__container{
    width: 852px;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.slogan__container__top{
    color: #6DE754;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.slogan__container__bottom{
    color: #FFF;
    font-size: 88px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.description__container{
    width: 474px;
    color: #909090;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.input{
    display: flex;
    width: 567px;
    padding: 8px 0px 8px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    border: 1px solid #909090;
    background: #161815;
    margin-top: 20px;
    margin-bottom: 48px;
    justify-content: space-evenly;
}
.input__email{
    color: #909090;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}    


.input__start{
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #6DE754;
    margin-left: 300px;
    cursor: pointer;
}
.input__start:hover{
    color: white;
}

.infoCard__container{
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    gap: 32px;


}

.infoCard__container__left{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    width: 361px;
    height: 204px;
    justify-content: space-evenly;

}

.infoCard__container__left__title{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
    width: 209px;
    height: 20px;
}

.infoCard__container__left__description{
    color: #909090;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.32px;
    width: 313px;
    height: 80px;
    

}
.infoCard__container__center{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    width: 361px;
    height: 204px;
    justify-content: space-evenly;


}
.infoCard__container__center__title{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
    width: 180px;
    height: 20px;
}
.infoCard__container__center__description{
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.32px;
    width: 313px;
    height: 80px;
}

.infoCard__container__right{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    width: 361px;
    height: 204px;
    justify-content: space-evenly;

}

.infoCard__container__right__title{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
    width: 136px;
    height: 20px;
}

.infoCard__container__right__description{
    color: #909090;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.32px;
    width: 313px;
    height: 80px;
}

.section2{
    width: 100vw;
    height: 110vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.content{
    width: 1700px;
    height: 1000px;
    flex-shrink: 0;
    background-color: #6DE754;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.content__title{
    width: 420px;
    height: 114px;
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 60px;
}

.content__slogan{
    width: 742px;
    height: 181px;
    color: #000;
    text-align: center;
    font-size: 152px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
}

.content__description{
    width: 474px;
    height: 48px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-top: 20px;
    margin-bottom: 23px;
}

.section3{
    width: 100vw;
    height: 110vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3__header{
    width: 420px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: black;
    margin-top: 50px;
}

.section3__header__title{
    width: 420px;
    height: 114px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.section3__header__description{
    width: 358px;
    height: 40px;
    color: #909090;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
    margin-top: 30px;
}    

.section3__header__button{
    width: 212px;
    height: 44px;
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #6DE754;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
    margin-top: 20px;
    cursor: pointer;
}


.section3__infoCard__container__top{
    width: 1700px;
    height: 204px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    

}

.section3__infoCard__1{
    width: 361px;
    height: 204px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    justify-content: space-evenly;

}

.section3__infoCard__1__title{
    width: 101px;
    height: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__1__description{
   display: flex;
   width: 313px;
   height: 80px;
   flex-direction: column;
   justify-content: center;
   color: #909090;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 125% */
   letter-spacing: 0.32px;
}
.section3__infoCard__2{
    width: 361px;
    height: 204px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    justify-content: space-evenly;

}
.section3__infoCard__2__title{
    width: 159px;
    height: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__2__description{
    display: flex;
    width: 313px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__3{
    width: 361px;
    height: 204px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    justify-content: space-evenly;
}

.section3__infoCard__3__title{
    width: 159px;
    height: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__3__description{
    display: flex;
    width: 313px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__container__bottom{
    width: 1700px;
    height: 204px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.section3__infoCard__4{
    width: 361px;
    height: 204px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    justify-content: space-evenly;
}

.section3__infoCard__4__title{
    width: 133px;
    height: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__4__description{
    display: flex;
    width: 313px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__5{
    width: 361px;
    height: 204px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    justify-content: space-evenly;
}
.section3__infoCard__5__title{
    width: 174px;
    height: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}
.section3__infoCard__5__description{
    width: 313px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__6{
    width: 361px;
    height: 204px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #1E201D;
    justify-content: space-evenly;
}

.section3__infoCard__6__title{
    width: 126px;
    height: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.section3__infoCard__6__description{
    display: flex;
    width: 313px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;

}

.section4{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 40px 237px;
    flex-direction: column;
    justify-content: center;
    background: #6DE754;
}

.section4__header{
    width: 1036px;
    height: 500px;
    display: flex;
    gap: 80px;
}

.section4__tdb__container{
    width: 456px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.section4__tdb__title{
    width: 456px;
    height: 171px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section4__tdb__description{
    width: 456px;
    height: 88px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.32px;
    margin-top: 20px;
}

.section4__tdb__button{
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #161815;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}