.grid{
    width: 80%;
 
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 100px 200px 300px;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 20px;
    background-color: red;
    
}

.grid__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 48px);
    aspect-ratio: 313/156;
    background-color: blue;
    border-radius: 12px;
    padding: 24px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #6DE754 #6DE754;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      

.grid__item__title{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.grid__item__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

.customInput__container{
    width: 567px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #909090;
    padding: 12px;
    border-radius: 12px;
}

.customInput{
    flex: 1;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 24px;
    color: white;
    background-color: transparent;
}

.customInput__button{
    border-radius: 12px;
    background: #6DE754;
    padding: 12px 32px;
}